.main{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-container h1 {
  margin: 0px;
  font-size: 45px;
  color: #fff;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
    transform: scale(1.1);
    margin-top: 2.5rem;

}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
}

.small-card {
  display:flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 0px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background: #48CCAC;
  font-size: 10px;
}

.small-card h1{
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.big-card {
  display:flex;
  flex-direction:column;
  height: 35rem;
  width: 25rem;
  border-radius: 70px;
  justify-content: center;
  align-items: center;
  background: #48CCAC;


} 

.arrow-icon {
  cursor: pointer;
  margin-top: 180px;
  align-items: end;
  height: 5%;
  width: 5rem;
  color: #fff;
}

.arrow-icon:hover {
  color: #68edff;
}

.icons{
  display:flex;
  direction: column;
}
h1{
  margin:0px;
}
.inside-icons{
  margin-top: 90px;
}
 
.temperature-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #3a3a3a;
  height: 80px;
  width: 350px;
  font-size: 55px;
  margin-bottom: 30px;
  margin-top: 30px;
  background: rgb(241, 241, 32);
}
.hot {
  color: Red; /* Change the color as per your preference */
}

.cold {
  color: darkblue; /* Change the color as per your preference */
}

