@import "~slick-carousel/slick/slick.css";

@import"~slick-carousel/slick/slick-theme.css";


#App {
  width: 90%;
  text-align: center;
align-content: center;
  margin: 3rem auto;
}

.navigation {
  margin-top: 0;
} 