@import "~slick-carousel/slick/slick.css";

@import"~slick-carousel/slick/slick-theme.css";


.App {
  width: 80%;
  margin: 10rem auto;

}

.slide h1 {
  width: 5rem;
  text-align: center;
}

.slide {
  transform: scale(0.5);
  transition: transform 300ms;
  opacity: 0.5;
  height: 20rem;
  padding: 2rem;
  background-color: rgb(250, 240, 131);
  border-radius: 3rem;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
