@import "~slick-carousel/slick/slick.css";

@import"~slick-carousel/slick/slick-theme.css";

.linkStyle {
  text-decoration: none;
  color: #fff;
}

#App {
  width: 90%;
  text-align: center;
  align-content: center;
  margin: auto;
}

.home-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0;
  margin-top: 30px;
  }

.slide {
  display:flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0.6);
  transition: transform 300ms;
  opacity: 0.5;
  gap: 0.8rem;
  height: 35rem;
  width: 25rem;
  padding: 4rem 3rem;
  background-color: #48CCAC;
  border-radius: 3rem;
}

.slide h1 {
  padding: 30px;
  font-size: 60px;
  /* margin-bottom: 50px; */
  margin-top: 100px;
}

.slide .nav-icon {
  margin-top: 30px;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
